/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



nav ul a,
nav .brand-logo {
  color: #444;
}
#footer{
  background-color: #7DB010;
}

.leftside{
  font-family: 'Cherry Cream Soda', bold;
}

#logo-container {
  margin-left: 35px;
  font-family: 'Cherry Cream Soda', bold;
  font-size: 40px;
  color: #7DB010;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.5);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  background-color: #7DB010;
  margin: 0;
}
#footer{
  background-color: #7DB010;
}
#footerabout{
  position: fixed;
   width:103%;
   margin-left:-10px;
   bottom: 0;
}
.fa .fa-bars {
  color: #272727;
}
brand-logo{
  background-color: #7F8F7E;
}
.padded-multiline span {
  background-color: black;
  top: 50%;
  left: 50%;
  color: #fff;
  display: inline;
  padding: -0.2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
#statement{
  background-color: transparent;
}
body{
  background-size: cover;
}
.material-icons{
  color: black;
}
